
.background {
	background: url("../images/plans-background.jpg") center/cover no-repeat border-box fixed;
	filter: grayscale(60%);
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: -1;
	
}

.package {
	border: 3px solid #0e4f1f;
	border-left: none;
	width: 80%;
	margin: 1rem 0;
	position: relative;
	overflow: hidden;
}

.package:hover,
.package:active{
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	border-color: #ff5454;
}

#plus {
	background-color: #d5ffdc;
}

#free {
	background-color: #DBFAF3;
	text-align: right;
	float: right;
	border-right: none;
	border-left: 3px solid #0e4f1f;
}

#free:hover,
#free:active {
	border-left: 3px solid #ff5454;
}

.clearfoat {
	clear: both;
}

#premium {
	background-color: #0e4f1f;
	
}

#premium .package-title {
	color: white;
}

#premium .package-description{
	color: #bbb;
}

.package a {
	text-decoration: none;
	display: block;
	color: black;
	padding: 2rem;
}

.package-title {
	font-weight: bold;
}

.package-badge {
	font-size: 0.7rem;
	background-color: #ff5454;
	width: 12rem;
	text-align: center;
	color: white;
	padding: 0.5rem;
	margin: 0;
	position: absolute;
	top: 0px;
	right: 0px;
	transform: rotateZ(45deg) translateX(3.7rem) translateY(-1rem);
	transform-origin: center;
	
}

.package-description {
	color: #858585;
	font-size: 1.25rem;
}

.package-benefits {
	border: 1px solid #ccc;
	background-color: white;
	padding: 1rem;
	color: black;
	font-size: 1.1rem;
	
}

@media (min-width: 45.6rem) {	
	main { max-width: 1400px; padding-top: 2rem;}
	.package-badge { margin: 0;}
}

@media (min-width: 1400px) {	
	.package { border-left: 3px solid #0e4f1f; }
	#free { border-right: 3px solid #0e4f1f; }
	#free:hover,
	#free:active { border-left: 3px solid #ff5454;  border-right: 3px solid #ff5454; }
	
}